.tags-input {
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 6px 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  font-size: 24px;
  &__input-wrapper{
    flex-grow: 1;
    .tags-input__input{
      width: 100%;
      border: none;
      outline: none;
    }
  }
  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 6px;
    border-radius: 8px;
    background-color: #E5E5E5;
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      content: "\00D7";
      cursor: pointer;
      height: 16px;
      width: 16px;
      font-size: 16px;
      border-radius: 50%;
      transition: .2s ease-out;
    }
    span:hover{
      background-color: #c77777;
      color: white;
    }
    &:hover{
      transition: .2s linear;
      background-color: #D3E2E2;
    }
  }
}
